@import 'tailwindcss';
@config '../tailwind.config.ts';

@layer base {
  :root {
    --background: 135 100% 99%;
    --foreground: 135 5% 0%;
    --card: 135 50% 90%;
    --card-foreground: 135 5% 10%;
    --popover: 135 100% 99%;
    --popover-foreground: 135 100% 0%;
    --primary: 135 100% 45%;
    --primary-foreground: 0 0% 0%;
    --secondary: 135 40% 80%;
    --secondary-foreground: 0 0% 0%;
    --muted: 97 30% 85%;
    --muted-foreground: 135 5% 35%;
    --accent: 97 30% 90%;
    --accent-foreground: 135 5% 10%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 135 5% 90%;
    --border: 135 30% 50%;
    --input: 135 30% 75%;
    --ring: 135 100% 67%;
    --radius: 0rem;
  }
  .dark {
    --background: 135 50% 5%;
    --foreground: 135 5% 90%;
    --card: 135 50% 10%;
    --card-foreground: 135 5% 90%;
    --popover: 135 50% 5%;
    --popover-foreground: 135 5% 90%;
    --primary: 135 100% 35%;
    --primary-foreground: 0 0% 0%;
    --secondary: 135 30% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 97 30% 15%;
    --muted-foreground: 135 5% 60%;
    --accent: 97 30% 10%;
    --accent-foreground: 135 5% 90%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 135 5% 90%;
    --border: 135 30% 18%;
    --input: 135 30% 18%;
    --ring: 135 100% 67%;
    --radius: 0rem;
  }

  html {
    @apply scroll-smooth;
    overscroll-behavior: none;
  }
  body {
    @apply bg-background text-foreground;
    overscroll-behavior: none;
    overflow-x: hidden;
  }

  article h2,
  article h3,
  article h4,
  article h5,
  article h6 {
    @apply scroll-mt-[170px];
  }

  .shiki,
  .shiki span {
    background-color: inherit !important;
  }

  .dark .shiki,
  .dark .shiki span {
    color: var(--shiki-dark) !important;
    background-color: inherit !important;
}
}

